@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "./stlyesheets/variable.scss";
@import "./stlyesheets/navbar.scss";
@import "./stlyesheets/home.scss";
@import "./stlyesheets/layout.scss";
@import "./stlyesheets/sidebar.scss";
body {
  margin: 0;
  font-family: "Helvetica", "Arial", "serif", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../../assets/Images/bgs/5c2a961d8d92d.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h100 {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  // color: $white;
  &::first-letter {
    text-transform: capitalize;
  }
}

.light_bg {
  background-color: $white;
}
.secondary_bg {
  background-color: $secondary;
}

.box-shadow {
  box-shadow: $box-shadow;
}

.particles-bg-canvas-self {
  height: 50vh !important;
}

.btn-primary {
  background-color: $primary !important;
}

.abc,
.xyz {
  background-color: darkgray;
  border: 1px solid orange;
}

.xyz {
  color: brown;
}

.text_secondary {
  color: $secondary !important;
}
