.navbar_link {
  color: $primary;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Quantico", sans-serif;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $primary;
  }
}

.admin_navbar {
  position: sticky;
  top: 0;
  z-index: 9;
  // background: rgba( #F6F6F7,  0.5);
  // background: linear-gradient(
  //   rgba(#f6f6f7, 1),
  //   rgba(#f6f6f7, 1),
  //   rgba(#f6f6f7, 0.5),
  //   rgba(#f6f6f7, 0)
  // );
  // background: linear-gradient(0deg, blue, green 40%, red);
  padding: 15px 0;
  .admin_navbar_horizontal {
    // border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    // box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.1);
  }
}

.nav_desktop {
  img {
    width: 80px;
  }
  a {
    margin-right: 20px;
  }
  span {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1rem;
  }
}
